---
import Adjust from "@icons/Adjust.astro";
---

<header class="flex py-4 px-6 justify-between items-center w-full">
  <span class="block text-white font-medium">Radio Estilo de Dios</span>
  <Adjust
    id="change-bg"
    class="dark:text-white hover:animate-rotate-180 hover:opacity-90 cursor-pointer"
    title="Change background"
  />
</header>

<script is:inline>
  let bgSet;

  document.querySelector("#change-bg").addEventListener("click", () => {
    if (bgSet != title) {
      document.body.style.backgroundImage = `url('${this.cover}')`;
      document.body.style.backgroundSize = "cover";
      document.body.style.backgroundRepeat = "no-repeat";
      bgSet = title;
    }
    document.getElementById("bg-points").classList.toggle("hidden");
    document.getElementById("bg-overlay").classList.toggle("hidden");
    document.getElementById("change-bg").classList.toggle("rotate-180");
  });
</script>
