---
import Adjust from "@icons/Adjust.astro";
---

<header class="flex py-4 px-6 justify-between items-center w-full">
  <div class="flex gap-2 items-center rounded-full bg-white px-3">
    <img
      src="/favicon.webp"
      alt="Logo de Radio Estilo de Dios"
      class="size-8"
    />
    <span class="block font-medium">Radio Estilo de Dios</span>
  </div>
  <Adjust
    id="change-bg"
    class="text-white hover:opacity-90 cursor-pointer"
    title="Change background"
  />
</header>

<script is:inline>
  document.querySelector("#change-bg").addEventListener("click", () => {
    document.getElementById("bg-points").classList.toggle("opacity-0");
    document.getElementById("bg-overlay").classList.toggle("opacity-50");
    document.getElementById("change-bg").classList.toggle("rotate-180");
  });
</script>
